.picture-item {
    width: 256px;
    height: 256px;

    margin: 10px;

    background: black;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    cursor: pointer;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.picture-item-add {
    color: white;
    font-size: 250px;
    text-align: center;

    &:hover {
        background: white;
        color: black;
    }
}

