body {
     padding: 0;
     margin: 0;
}

body:focus {
     outline: none;
}

.action-btn {
     background: yellow;
     font: 25pt Arial;
     margin: 5px;
}

.action-btn:hover {
     border-color: red;
     border-width: 5px;
}

.combo-box-default {
     font: 25pt Arial;
     padding: 5px 10px;
}

.default-style-box {
     background: yellow;
     color: blue;
     border-radius: 25px;
     border: blue 4px solid;
}

.default-style-box:hover {
     border-color: red;
}