.picture-description-container {

    padding: 10px;

    display: block;

    flex: 1 1 auto;
    justify-self: start;

    overflow-y: auto;
    word-wrap: break-word;

    resize: none;
}

.picture-description-unknown {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    font-size: 45pt;
}