.favorites-container {
    display: flex;
    flex-direction: column;
}

.favorites-items-container {
    
}

.favotires-container-tools {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}