.picture-development-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}

.picture-upper-panel-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}