.picture-upper-panel {
    display: flex;
    justify-content: flex-start;
}

.picture-upper-panel-info {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex-grow: 1;
}