.picture-languages-language {
    height: 40px;
    margin: 5px 1px;
    flex-grow: 1;

    outline: 2px solid black;
    font-size: 21pt;

    display: flex;
    justify-content: center;
    align-items: center;
}

.picture-languages-language-current {
    text-decoration: underline;
}