.picture-icons-container {
    min-height: 64px;
    padding: 10px 5px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;

    border: 2px solid black;

    overflow: auto;
    box-sizing: content-box;
}

.picture-icons-container-icon {
    flex-shrink: 2;
    flex-grow: 33;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.picture-icons-current {
    flex-shrink: 1;

    max-height: 350px;
}