.museum-item {
    
    padding: 10px;

    display: flex;
    justify-content: space-between;
    
    border: 2px solid black;

    cursor: pointer;

    &:hover {
        background-color: #d9d9d9;
    }
}

.museum-item-icon {
    height: 128px;
    width: 128px;
}

.museum-item-about {
    margin: 0 20px;

    flex-grow: 1;
}