.login-container {
    max-width: 512px;
    padding: 50px;

    display: flex;
    flex-direction: column;

}

.login-title {
    text-align: center;
}

.login-container input {
    padding: 5px 10px;
    margin: 5px 0;

    border-radius: 5px;
}

.login-register-link {
    text-align: center;
}

.login-container .login-submit-btn {
    padding: 5px 10px;
    margin-top: 15px;
    margin-bottom: 3px;

    font-size: 16pt;
}

.button-progress {
    color: green;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12;
    margin-left: -12;
}