.picture-icon {
    margin: 0 5px;
    height: 468px;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    position: relative;
}

.picture-icon-image {
    height: 100%;
    flex-grow: 1;

    margin: 0 10px;
}