.dev-titles-container {
     display: flex;
     flex-direction: column;
     font: 20pt Arial;
     margin: 15px 100px;
}

.dev-title-container {
     display: flex;
     flex-direction: row;
}

.dev-pre-title {
     margin-right: 5px;
}

.dev-title-edit {
     width: 100%;
     padding: 2px;
     border-bottom: 2px solid green;
     font-size: 16pt;
}

.dev-title-edit:focus {
     border-bottom-color: #f0f;
     outline: none;
}

.start-edit-title-btn {
     font-size: 10pt;
     background: blue;
     cursor: pointer;
     color: yellow;
     padding: 16px;
     border: none;
}

.start-edit-title-btn:hover {
     outline: 2px red solid;
}

.pictureContainer {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
}

.icon {
     width: 512px;
     height: 512px;
     background-size: 100%;
}
.upload-icon-mask {
     width: 100%;
     height: 100%;
     background-color: rgb(0,0,0, 0.3);
     background-repeat: no-repeat;
     background-size: 100%;
     display: none;
     align-items: flex-end;
}

.upload-icon-mask-container-actions {
     width: 320px;
     margin: 15px auto;
     outline: 2px solid white;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     padding: 10px;
}

.upload-icon-mask-action {
     outline: 2px red solid;
     width: 60px;
     height: 60px;
     margin: 0;
     padding: 0;
     background-size: 100%;
}

.selectLanguages {
     margin: 5px 0;
     width: 512px;
}

.addLanguageBtn {
     width: 512px;
     height: 70px;
}

.titleBox {
     width: 480px;
     height: 50px;
     display: flex;
}

.title-edit {
     font-size: 25pt;
}

.title:focus {
     outline: 2px solid red;
}

.start-edit-button {
     height: 30px;
     width: 50px;
     margin-left: 5px;
     font-size: 10pt;
     text-align: center;
     border-radius: 0;
}

.description-box {
     margin: 10px 0;
     padding: 10px;
     font: 14pt Times;
     width: 90%;
}

.save-button {
     font: 20pt Calibri;
     margin-bottom: 20px;
     padding: 2px 10px;
}

.saveButton:hover {
     background: black;
     color: white;     
}