.documentation-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;


}

.documentation-subtitle {
    width: 100%;
    font-size: 26pt;
}

.documentation-text {

    font-size: 14pt;
}