.picture-languages {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: stretch;

    cursor: pointer;
}

.picture-languages-container {
    display: flex;

    overflow: auto;
}

.picture-languages-add {
    min-width: 32px;
    padding: 6px;

    background: black;
    color: white;

    font-size: 21pt;
    text-align: center ;

    transition: all .3s;

    &:hover {    
        background: white;
        color: black;
    }
}

.picture-add-language-panel {
    max-width: 480px;
    padding: 100px;

    border-radius: 25px;
    border: 2px solid black;

    display: flex;
    flex-direction: column;

    background: white;
}