.picture-info-container {
    display: flex;

    flex-direction: column;
    flex-grow: 1;

    overflow-y: auto;
}

.picture-info-container-title {
    padding: 10px;

    word-wrap: break-word;

    &[contenteditable=true] {
        outline-color: red;
    }
}

.picture-info-container-upper-part {
    display: flex;
}