.background-home {
     background: yellow;
     height: 510px;
     display: flex;
     margin: 0;
     flex-direction: column;
     padding: 40px;
}

.title-home {
     font: 30pt Arial;
     text-align: center;
     width: 100%;
}

.login-container {
     width: 100%; 
     display: flex;
     flex-direction: row;
     justify-content: center;   
}

.login-panel {
     width: 512px;
     height: 512px;
     background: blue;
}

.login-title {
     font: 30pt Arial;
     color: yellow;
     text-align: center;
     padding: 10px;
}

.login-item {
     padding: 10px;
     display: flex;
     flex-direction: row;
     width: 100%;
}

.login-item-title {
     font: 24pt Arial;
     color: yellow;
}

.login-item-input {
     margin: 0 15px;
     width: 350px;
}

.login-item-input-error {
     margin: 0 15px;
     width: 350px;
     outline: 2px solid red;
}

.login-buttons-container {
     display: flex;
     width: 100%;
     justify-content: space-evenly;
}

.login-button {
     width: 150px;
     height: 60px;
     background: yellow;
     color: blue;
     border: 2px blue solid;
     font: 20pt Arial;
     margin: 10px;
}