.picture-icon-container {
    min-height: 256px;
    display: flex;
    justify-content: center;
    align-self: stretch;

    overflow: hidden;
}

.picture-icon-container-image {
    max-height: 256px;
    max-width: 100%;
}