.picture-description-container {
    padding: 10px;
    margin: 10px;

    flex-grow: 1;
    align-self: stretch;

    outline: 2px solid black;
    word-wrap: break-word;

    &[contenteditable=true] {
        outline-color: red;
    }
}

.picture-descriptipn-edit-button {
    display: inline;
    margin-left: 5px;
}