.picture-description-container {

    padding: 10px;

    display: block;

    flex: 1 1 auto;
    justify-self: start;

    overflow-y: auto;
    word-wrap: break-word;

    &[contenteditable=true] {
        outline-color: red;
    }
}

.picture-descriptipn-edit-button {
    display: inline;
    margin-left: 5px;
}