.picture-description-container {
    flex-grow: 1;
    align-self: stretch;

    padding: 10px;
    margin: 10px;
    outline: 2px solid black;
}

.picture-descriptipn-edit-button {
    display: inline;
    margin-left: 5px;
}