<div class="title">Картини</div>
<hr>
<div class="picturesContainer">
     <div 
     *ngFor="let picture of pictures.pictures"
     class="pictureItem"
     [routerLink]="picture.id">
          <div class="p-icon" [ngStyle]="{ 'background-image' : 'url(' + http.iconUrl + picture.iconPath + ')' }"></div>
          <div class="p-title">{{ picture.name }}</div>
          <!--<div class="p-description">{{ picture.description | slice:0:10 }}</div>-->
          <div style="display: flex; cursor: pointer;">
               <div class="p-deletePicture"
                    (click)="deletePicture(picture.id); $event.stopPropagation();"
               >Delete</div>
          </div>
     </div>
     <div class="pictureItem pictureItemAdd" 
     (click)="addPicturePanelState = 'opened'">
          <div class="cross">+</div>
     </div>
</div>

<div *ngIf="addPicturePanelState == 'opened'"
     class="addPictureBg" 
     #addPicturePanel 
     [@openAddPicturePanel]="addPicturePanelState">
     <form [formGroup]="addForm" class="add-picture-panel" (ngSubmit)="addPicture()">
          <div class="close-button" (click)="addPicturePanelState = 'closed'">
                
          </div>
          <div class="add-picture-panel-title">Додати картину</div>
          <div class="input-file" (click)="inputLoadIcon.click()">
               <input formControlName="icon" type="file" style="display: none;" (change)="onLoadIconChanged($event)" 
                    #inputLoadIcon>
               <div class="">Завантажити</div>
               <img id="sukaid" class="input-icon" alt="123" #imageLoadIcon
                    [ngStyle]="{ 'display': imageLoadIcon.src.length > 1 ? 'flex' : 'none' }">
          </div>
          <div class="inputTitle">Заголовок</div>
          <input type="text" formControlName="title"> 
          <p *ngIf="addForm.get('title').invalid && addForm.get('title').touched">No valid</p>
          <div class="inputTitle">Опис</div>
          <input class="inputDescription" type="text" formControlName="description">
          <p *ngIf="addForm.get('description').invalid && addForm.get('description').touched">No valid</p>
          <button class="addPictureBtn" [disabled]="!addForm.valid">Додати</button>
     </form>
</div>