<div *ngIf="pictureInfo"
tabindex="0" 
(keydown)="check($event)">
     <div class="dev-titles-container">
          <div class="dev-title-container">
               <div class="dev-pre-title">
                    Name:
               </div>
               <div editPlease #titleName [(ngModel)]="picture.name" class="dev-title-edit"
                    (blur)="titleName.setAttribute('contenteditable', false)">
               </div>
               <button class="default-style-box start-edit-button"
                    (click)="titleName.setAttribute('contenteditable', true); titleName.focus()">!</button>
          </div>
          <div class="dev-title-container">
               <div class="dev-pre-title">
                    Description:
               </div>
               <div editPlease #titleDescription [(ngModel)]="picture.description" class="dev-title-edit"
                    (blur)="titleDescription.setAttribute('contenteditable', false)">>
               </div>
               <button class="default-style-box start-edit-button"
                    (click)="titleDescription.setAttribute('contenteditable', true); titleDescription.focus()"
               >!</button>
          </div>
          <div class="dev-title-container">
               <div class="dev-pre-title">
                    QRCode:
               </div>
               <div editPlease #titleQrcode [(ngModel)]="picture.qrcode" class="dev-title-edit"
                    (blur)="titleQrcode.setAttribute('contenteditable', false)">
               </div>
               <button class="default-style-box start-edit-button"
                    (click)="titleQrcode.setAttribute('contenteditable', true); titleQrcode.focus()">
               !</button>
          </div>
     </div>
     <hr>
     <div class="pictureContainer">
          <div *ngIf="picture" class="icon"
               [ngStyle]="{ 'background-image' : 'url('+ http.iconUrl + picture.iconPath + ')' }"
               (mouseenter)="uploadIconMask.style.display = 'flex'"
               (mouseleave)="uploadIconMask.style.display = 'none'">
               <div #uploadIconMask class="upload-icon-mask">
                    <div class="upload-icon-mask-container-actions">
                         <button class="upload-icon-mask-action" 
                         style="background-image: url(assets/icons/action_delete.png);"
                         (click)="deleteIcon()"
                         ></button>
                         <button class="upload-icon-mask-action" 
                         style="background-image: url(assets/icons/action_update.png);"
                         (click)="uploadIconInput.click()"></button>
                         <button class="upload-icon-mask-action" 
                         style="background-image: url(assets/icons/action_download.png);"
                         (click)="downloadLink.click()">
                              <a target="_blank" #downloadLink [href]="http.iconUrl + picture.iconPath" download></a>
                         </button>
                    </div>
                    <input #uploadIconInput type="file" (change)="updateIcon($event)" style="display: none;">
               </div>
          </div>
          <select *ngIf="getLanguages().length > 0"
               class="default-style-box combo-box-default selectLanguages" 
               (change)="changeLanguage($event)">
               <option *ngFor="let langunage of getLanguages()">{{ langunage }}</option>
          </select>
          <button class="default-style-box action-btn addLanguageBtn" (click)="addLanguage()">Add language</button>
          <div *ngIf="languageIndex > -1" class="titleBox">
               <div editPlease class="dev-title-edit title-edit" [(ngModel)]="pictureInfo[languageIndex].title" 
               #titleEdit (blur)="titleEdit.setAttribute('contenteditable', false)"></div>
               <button class="default-style-box start-edit-button" 
               (click)="titleEdit.setAttribute('contenteditable', true); titleEdit.focus()">!</button>
          </div>

          <div *ngIf="languageIndex > -1" editPlease [(ngModel)]="pictureInfo[languageIndex].description"
               class="default-style-box description-box" contenteditable="true"></div>

          <button *ngIf="getLanguages().length > 0"
               class="default-style-box save-button" 
               (click)="savePicture()">Зберегти</button>
     </div>
</div>