.home-page {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-page-main-action-container {
    margin: 0;
    padding: 0;
}

.home-page-other-action-container {
    margin-top: 10px;
}

.get-started-btn {
    padding: 10px 15px;
    border: none;

    background: orange;
    color: white;

    font-size: 24pt;
    text-decoration: none;

    transition: all 0.07s ease-in;

    &:hover {
        font-size: 26pt;
    }
}