<div class="background-home">
     <div class="login-container">
          <form class="login-panel" [formGroup]="form">
               <div class="login-title">
                    Login
               </div>
               <div class="login-item">
                    <div class="login-item-title">Login: </div>
                    <input class="login-item-input" formControlName="email"
                         [ngClass]="{ 'login-item-input-error' : form.get('email').invalid && form.get('email').touched }">
               </div>
               <div class="login-item">
                    <div class="login-item-title">Pass: </div>
                    <input class="login-item-input" formControlName="password"
                    [ngClass]="{ 'login-item-input-error' : form.get('password').invalid && form.get('password').touched }">
               </div>

               <div class="login-buttons-container">
                    <button class="login-button" (click)="onSubmit()">Login</button>
               </div>
          </form>
     </div>
</div>