.container-item {
    margin: 5px 0;

    display: flex;
    flex-direction: column;
}

.container-item-header {
    width: 100%;

    display: flex;
}

.container-item-header-name {
    margin-right: 5px;

    font-size: 14px;
}

.container-item-header-description {

    display: flex;
    align-items: center;
    flex-grow: 2;
    font-size: 11px;

    & * {
        width: 90%;   
    }
}

.container-item-droppable {
    min-width: 200px;
    max-width: 100%;
    min-height: 10px;

    display: flex;
    
    border: 2px solid black;

    overflow: auto;
}

.container-item-draggable {
    min-width: 200px;
    min-height: 200px;
    
    border: 2px solid black;
}